*{
    margin: 0;
    padding: 0;
    font-family: "microsoft yahei";
    color: #405275;
    font-style: italic;
}
body{
    width: 100%;
    height: 100%;
}
li{
    list-style:none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    cursor: pointer;
}
h3{
    font-size: 4.8rem;
    color: #00c3ff;
}

header{
    position: relative;
    margin-bottom: -10%;
}
header video{
    position: absolute;
    display: none;
    width: 100%;
}
header .bg h1{
    display: none;
}
header .bg img{
    display: none;
}
video.active{
    display: block;
    position: relative;
}

.showcase{
    position:absolute;
    bottom: 20%;
    overflow: hidden;
}
.showcase>div{
    margin: 0 auto;
    text-align:center;
}
.showcase-icon{
    float: left;
    position: relative;
    left: 50%;
}
.showcase-icon:after{
    display: block;
    content: '';
    clear: both;
    text-align: center;
}
.showcase-icon a{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(64,82,117,.5);
    margin: 0 10px;
    display:table;
    float: left;
    position: relative;
    right: 50%;
}
.showcase a:hover,.showcase a.active{
    background-color: rgba(64,82,117,1);
}
.showcase h1{
    font-size: 8rem;
    color: #f0edf2;
    margin-bottom: 0;
}
.showcase h3{
    display: none;
    margin-top: 0;
}
.showcase h3.active{
    display: block;
}
svg{
    position: absolute;
    display: none;
}
svg.active{
    display: block;
}
.showcase span{
    display:table-cell;
    vertical-align:middle;

}
.showcase img{
    width: 80px;
}

.details{
    position: relative;
    background-color: #f0edf2;
}
.details:before{
    display: block;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
    height: 3rem;
    background: url(../images/dividers-wing.png) no-repeat;
    background-size:auto 100%;
    background-position: top;
}

.details>div{
    margin-top: 4%;
}
.details>.details-bg{
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.details-bg img{
    height: 100%;
    position: absolute;
    right: -15%;
    display: none;
}
.details-bg video{
    width: 135%;
    position: relative;
    right: 25%;
}
.details-bg:after{
    content:"";
    display: block;
    position: relative;
    width: 100%;
    height: 160px;
    top: -160px;
    background-image:-webkit-linear-gradient(top,rgba(240,237,242,0)0,#f0edf2 100%);
    background-image: linear-gradient(to bottom,rgba(240,237,242,0)0,#f0edf2 100%);
}

.details .content-title{
    padding: 0;
}
.details .content-title>div{
    background-color: rgba(255,255,255,.6);
}
.details .content-title>div.active{
    background-color:rgba(19,42,77,.6);
}
.details .content-title>div.active a{
    color: #B4BAC8;
}
.details .content-title a{
    display: block;
    width: 100%;
    color: #3E383A;
    font-size: 4.8rem;
    text-align: center;
}
.details .content{
    display: none;
}
.details .content.active{
    display: block;
}
.details .content>div{
    background-color:rgba(19,42,77,.6);
}
.details .skill-title{
    border-bottom:3px solid rgba(255,255,255,.15);
}
.details .skill-title h4{
    font-size: 7.2rem;
    color: #f0edf2;
    position: relative;
}
.details .skill-title img{
    position:relative;
    vertical-align: top;
}
.details .skill-title span{
    font-size: 5rem;
    color: #ffe75a;
}
.details .skill-title>div>p{
    border-left:6px solid #00c3ff;
    color: #fff;
    font-style: normal;
    padding-left: 10px;
    font-size: 1.6rem;
}
.skill{
    margin-bottom: 20px;
}
.skill>div{
    margin-bottom: 10px;
}
.skill video{
    display: none;
}

.skill-icon{
    background-color: rgba(64,82,117,.4);
    padding:0 20px;
    width: 120px;
    position: relative;
    display: table-cell;
    vertical-align: middle;
}
.skill-icon:after{
    display: block;
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    border:2px solid rgba(240,237,242,.4);
    border-radius: 50%;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color:rgba(64,82,117,.4) ;
    z-index:1;
}
.skill-icon img{
    width:80%;
    z-index:100;
}
.skill-small{
    background-color:rgba(19,42,77,.2);
    padding: 0;
}
.skill-details{
    padding-left: 10px;
    display: table-cell;
    vertical-align: middle;
    width: auto;
}
.skill-details h4{
    font-size: 2.8rem;
    color: #fff;
}
.skill-details p{
    color: #fff;
    font-size: 1.6rem;
    font-style: normal;
}

.story-title p>span{
    font-size: 1.6rem;
    color: #fff;
    font-style: normal;
}
.story-title p>span.glyphicon{
    font-size: 2.4rem;
    color: #00c3ff;
    margin-right: 10px;
}

.story{
    padding-top: 20px;
    margin-bottom: 20px;
}
.story>div{
    background-color: rgba(19,42,77,.2);
    padding-top: 20px;
}
.story p{
    color: #fff;
    font-size: 1.6rem;
    font-style: normal;
}

footer{
    background: url(../images/bg-tmp-hero-mobile.jpg) no-repeat;
    background-size:cover;
    overflow: hidden;
    position: relative;
}
footer:before{
    display: block;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    height: 3rem;
    background: url(../images/dividers-wing.png) no-repeat;
    background-size:auto 100%;
    background-position: top;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
footer>div{
    margin-bottom: 20px;
}
footer h1{
    font-size: 6rem;
    font-style: italic;
    color: #fff;
}
footer h5{
    font-size: 3rem;
    color: #fff;
    opacity: .6;
    width: 3rem;
    margin: 0 auto;
}
footer h5:after,footer h5:before{
    display: block;
    content: "";
    width: 260px;
    height: 2px;
    background-color: #fff;
    opacity: 0.2;
    position: absolute;
    top: 50%;
}
footer h5:after{
    left: 52%;
}
footer h5:before{
    right: 52%;
}

.hero-icon a{
    position: relative;
}
.hero-icon>div{
    float: left;
    position: relative;
    left: 50%;
    height: auto;
}
.hero-icon a>div{
    float: left;
    right: 50%;
    position: relative;
}
.hero-icon a>div>div {
    width: 80px;
    height: 100px;
    margin:10px 5px;
    position: relative;
    border:3px solid #f0edf2;
    border-left-width:0;
    border-right-width:0;
    border-radius: 7px;
    overflow: hidden;
    background-color: rgba(51,51,51,.9);
    text-align: center;
    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    transform: skew(-15deg);
    -webkit-transition: transform 0.1s;
    -moz-transition: transform 0.1s;
    -ms-transition: transform 0.1s;
    -o-transition: transform 0.1s;
    transition: transform 0.1s;
}
.hero-icon a>div>div:hover{
    background-color: #f7931e;
    border:3px solid #f0edf2;
    -webkit-transform: scale(1.2, 1.2) skew(-15deg);
    -moz-transform: scale(1.2, 1.2) skew(-15deg);
    -ms-transform: scale(1.2, 1.2) skew(-15deg);
    -o-transform: scale(1.2, 1.2) skew(-15deg);
    transform: scale(1.2, 1.2) skew(-15deg);
}
.hero-icon a>div:hover p{
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
    background-color:#f0edf2 ;
    color: #000;
    border-radius: 5px;
}
.hero-icon img{
    position: relative;
    left: -10%;
    height: 100%;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    -ms-transform: skew(15deg);
    -o-transform: skew(15deg);
    transform: skew(15deg);
}
.hero-icon p{
    color: #fff;
    position:absolute;
    bottom: -20px;
    text-align: center;
    width: 60px;
    font-style: normal;
}

@media (max-width: 1250px) {
    .details .skill-title h3{
        font-size: 3.5rem;
    }
    .details .skill-title h4{
        font-size: 5.4rem;
    }
    .details .skill-title span{
        font-size: 4rem;
    }
    .details .skill-title img{
        width: 20px;
    }
}
@media (max-width: 992px){
    header{
        background: url("../images/story-bg1.jpg") no-repeat;
    }
    header video{
        display: none;
    }
    header .bg img{
        display: block;
        width: 100%;
    }
    header .bg{
        text-align: center;
    }
    header .bg h1{
        display: block;
        color: #f0edf2;
        font-size: 6rem;
    }
    .showcase{
        display: none;
    }
    .details-bg{
        display: none;
    }
    .star{
        text-align: right;
    }

    .skill video{
        display: block;
        width: 100%;
    }
    .skill-small{
        background-color: rgba(64,82,117,.4);
    }
    .skill-icon{
        background-color: transparent;
    }
    .skill-details{
        background-color:transparent;
        padding-left: 10px;
    }
    .hero-icon a>div>div {
        -webkit-transform: skew(0deg);
        -moz-transform: skew(0deg);
        -ms-transform: skew(0deg);
        -o-transform: skew(0deg);
        transform: skew(0deg);
    }
    .hero-icon a>div>div:hover{
        -webkit-transform: scale(1.2, 1.2) skew(0deg);
        -moz-transform: scale(1.2, 1.2) skew(0deg);
        -ms-transform: scale(1.2, 1.2) skew(0deg);
        -o-transform: scale(1.2, 1.2) skew(0deg);
        transform: scale(1.2, 1.2) skew(0deg);
    }

    .hero-icon img{
        position: relative;
        left: -10%;
        height: 100%;
        -webkit-transform: skew(0deg);
        -moz-transform: skew(0deg);
        -ms-transform: skew(0deg);
        -o-transform: skew(0deg);
        transform: skew(0deg);
    }
    .hero-icon p{
        width: 90px;
    }
}
@media (max-width: 768px ) {
    .skill-small{
        display: table;
    }
    .skill-icon{
        height: 80px;
    }
    .skill-icon img{
        width: 70px;
    }
    .star{
        text-align: left;
    }
    .skill-details{
        text-align: center;
        display: table-row;
    }
}